<h1>What do you want to do?</h1>

<h5>Check List of doctors <%= link_to "Click Here", doctors_path %> </h5>
<h5>Busiest doctor <%= link_to "Click Here", doctors_busiest_doctors_path %> </h5>
<h5>Doctors with over 6 hours work <%= link_to "Click Here", doctors_over_six_hours_path %></h5>
<h5>Cancel an appointment <%= link_to "Click Here", consultations_path %></h5>

<% Doctor.all.each do |doctor| %>
  <p>Check <%= doctor.name %>'s schedule <%= link_to "Click Here", doctor_slots_path(doctor.id) %> </p>
<% end %>
