<h1>Consultation Successfully Cancelled</h1>
<p>Consultation <%= @consultation.id %> <%= @consultation.cancelled ? "Cancelled" : ""  %></p>
  <p>Doctor: <%= Doctor.find(@consultation.doctor_id).name %></p>
  <p>Patient: <%= Patient.find(@consultation.patient_id).name %></p>
  <p>Date: <%= @consultation.date %></p>
  <p>Starting Time: <%= @consultation.starting_time.strftime("%H:%M %p") %></p>
  <p>Ending Time: <%= (@consultation.starting_time + (@consultation.duration * 60)).strftime("%H:%M %p") %></p>
