<h1>Doctors</h1>
<% @doctors.each do |doctor| %>
  <p><%= doctor.name %> </p>
<% end %>
<%= simple_form_for [@patient, @consultation] do |f| %>
    <%= f.input :doctor_name %>
  <%= f.input :date %>
  <%= f.input :starting_time %>
  <%= f.input :duration %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>
