<h1>Doctors</h1>
<% @doctors.each do |doctor| %>


<% array = Consultation.where(doctor_id: doctor.id).where(cancelled: false) %>

<% array_with_keys = [] %>
<% array.each do |consult| %>
  <% end_time = (consult.starting_time + (consult.duration * 60)) %>
  <% start_slot = consult.starting_time %>
  <% while start_slot != end_time %>
    <% array_with_keys << "#{start_slot.strftime("%H.%M")}-#{(start_slot + (15 * 60)).strftime("%H.%M")}" %>
    <% start_slot =  (start_slot + (15 * 60)) %>
  <% end %>
<% end %>



  <% number_appoinments = Consultation.where(doctor_name: doctor.name).where(cancelled: false).size %>
  <% number_minutes = 0 %>
  <% Consultation.where(doctor_name: doctor.name).where(cancelled: false).each do |consult| %>
    <% number_minutes += consult.duration %>
  <% end %>
  <p><%= doctor.name if number_appoinments <= 12 && number_minutes <= 60*8  %></p>
<p>Not available slots: <%= array_with_keys.sort.each{|x| x} %></p>
<% end %>
<%= simple_form_for [@patient, @consultation] do |f| %>
    <%= f.input :doctor_name %>
  <%= f.input :date %>
  <%= f.input :starting_time %>
  <%= f.input :duration %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>
