<% if @current_doctor_user == "Doctor" %>
  <h1>Are you a current doctor? <%= link_to "Click Here", doctor_path(@current_doctor_id)%>
<% elsif @current_patient_user == "Patient" %>
  <h1>Are you a current patient? <%= link_to "Click Here", patient_path(@current_patient_id)%>
<% elsif @current_admin_user == "Admin" %>
  <h1>Are you a current admin? <%= link_to "Click Here", admin_path(@current_admin_id)%>
<% else %>
  <h1>Are you a new doctor? <%= link_to "Click Here", doctors_new_path %></h1>
  <h1>Are you a new patient? <%= link_to "Click Here", new_patient_path %></h1>
  <h1>Are you a new admin? <%= link_to "Click Here", admins_new_path %></h1>
<% end %>
