<%# This page is for deciding if you are a new user if you want to be a Doctor, Patient or Admin and linking the user to the model %>
<%# The ifs are for showing the correct info depending on the kind of user that you are %>
<% if @current_doctor_user == "Doctor" %>
  <p>Cancel an appointment <%= link_to "Click Here", consultations_path %>
  <% Doctor.all.each do |doctor| %>
  <p>Check <%= doctor.name %>'s schedule <%= link_to "Click Here", doctor_slots_path(doctor.id) %>
    <%= link_to "Check your appointments", doctor_my_appointments_path(doctor.id) if doctor.email == current_user.email %>
  </p>
<% end %>
  <% Patient.all.each do |patient| %>
  <p>Check <%= patient.name %>'s appointment history <%= link_to "Click Here", patient_my_appointments_path(patient.id) %>
  </p>
<% end %>
<% elsif @current_patient_user == "Patient" %>
  <h1>Are you a current patient? <%= link_to "Click Here", patient_path(@current_patient_id)%>
<% elsif @current_admin_user == "Admin" %>
  <h1>Are you a current admin? <%= link_to "Click Here", admin_path(@current_admin_id)%>
<% else %>
  <h1>Are you a new doctor? <%= link_to "Click Here", doctors_new_path %></h1>
  <h1>Are you a new patient? <%= link_to "Click Here", new_patient_path %></h1>
  <h1>Are you a new admin? <%= link_to "Click Here", admins_new_path %></h1>
<% end %>
