<!DOCTYPE html>
<html>
  <head>
    <title>UnicornAssignment</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <br>
  <br>
    <%= link_to "Log out", destroy_user_session_path, :method => :delete %>
    <p>Your profile email: <%= current_user.email if current_user != nil %></p>
    <%= yield %>
  </body>
</html>
